<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx"></customErrors>
    <httpRuntime maxUrlLength="2097151" maxQueryStringLength="2097151"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Printing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <!--<system.web>
    <customErrors mode="RemoteOnly"
                  defaultRedirect="OOPS.aspx" />
  </system.web>-->
  <appSettings>
    <add key="FilePath" value="~/Userfiles/"/>
    <add key="PrinterName" value="TVS MSP 240 Star"/>
    <add key="GroupName" value="VyshnaviPS"/>
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="ConnectionString1" connectionString="Provider=SQLOLEDB;Data Source=49.50.65.160;Persist Security Info=True;Password=WHHWYE%23@^#%;User ID=sa;Initial Catalog=purchaseandstores"  providerName="System.Data.OleDb" />
    <!--<add name="ConnectionString1" connectionString="Provider=SQLOLEDB;Data Source=MOUNIKASRINIVAS;Persist Security Info=True;Password=Vyshnavi123;User ID=sa;Initial Catalog=purchaseandstores"  providerName="System.Data.OleDb" />-->
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="2097151" maxQueryString="30000000"/>
      </requestFiltering>
    </security>
    <handlers>
      <add name="FleetManagementHandler" preCondition="integratedMode" verb="GET,HEAD,POST" resourceType="Unspecified" path="FleetManagementHandler.axd"/>
    </handlers>
  </system.webServer>
  <system.web>
    <sessionState timeout="60"></sessionState>
    <httpHandlers>
      <add verb="GET,HEAD,POST" path="FleetManagementHandler.axd" validate="false" type="FleetManagementHandler"/>
    </httpHandlers>
    <!--<httpHandlers>
      <add verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint"/>
    </httpHandlers>-->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000">
          <converters>
          </converters>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>